.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-link {
  margin-top: 20px;
}

.auth-form button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.auth-input {
  padding: 3px;
  font-size: 16px;
}

.message {
  color: red;
}

.dashboard-heading {
  margin-top: 10px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-form {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appointment-form input,
.appointment-form textarea {
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.appointment-search {
  width: 70%;
  max-width: 700px;
  padding: 10px;
  font-size: 16px;
}

table, td, th {
  border: 1px solid;
}

td, th {
  padding: 5px;
}

table {
  border-collapse: collapse; /* no double borders */
}

.appointment-table {
  width: 90%;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.report-container {
  text-align: center;
}

.report-heading {
  margin-top: 10px;
}

.report-table-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 24px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;

  background-color: #2563eb;
  color: white;

  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #1d4ed8;
}